<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>
	<body>
		<header>
			<img src="https://raw.githubusercontent.com/Jelmerovereem/dating-app-feature/master/static/img/Logo_MovieDates.png" alt="">
		</header>
		<main>
			<h1>Registreer</h1>
			<p>Registreer hier je account.</p>
			<div>
				<form action="">
					<label for="">Voornaam</label>
					<input type="text">
					<label for="">Achternaam</label>
					<input type="text">
					<label for="">E-mailadres</label>
					<input type="email">
					<label for="">Wachtwoord</label>
					<input type="password">
					<button type="submit"><a href="https://google.com">Registreer</a></button>
				</form>
				<p>Al een account? Log <a href="">hier</a> in.</p>
			</div>
		</main>
	</body>
</html>