<nav>
	<img src="https://raw.githubusercontent.com/Jelmerovereem/dating-app-feature/master/static/img/Logo_MovieDates.png" alt="">
	<ul>
		<li><a href="/">Mijn profiel<img src="https://raw.githubusercontent.com/Jelmerovereem/dating-app-feature/master/static/img/profile_icon.png" alt=""></a></li>
	</ul>
</nav>