<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
	<%- include('partials/navbar') %>
	<form action="/server.js" method="post">
		<label for="">Naam film</label>
		<input name="title" type="text">
		<label for="">Genre</label>
		<select name="genre" id="">
			<option value="">Action</option>
			<option value="">Adult</option>
			<option value="">Adventure</option>
			<option value="">Animation</option>
			<option value="">Biography</option>
		</select>
		<label for="">Beschrijving</label>
		<textarea name="description" id="" cols="30" rows="10"></textarea>
		<button type="submit">Voeg toe</button>
	</form>
	<%- include('partials/footer') %>
</body>
</html>