<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Gelukt!</h1>
	<p>Titel: <%= dataApi.original_title %></p>
	<p>Beschrijving: <%= dataApi.overview %></p>
	<a href="<%= dataZelf %>" target="_blank">Youtube link</a>	
</body>
</html>