<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>
	<header>
		<%- include('partials/navbar')%>
	</header>
	<main>
		<p>Title: <%= data.title %></p>
		<p>Genre: <%= data.genre %></p>
	</main>
</body>
</html>