<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head')%>
</head>
<body>
	<header>
		<%- include('partials/navbar')%>
	</header>
	<h1>Gelukt!</h1>
	<p><%= data.title %></p>
	<p><%= data.stars %></p>
	<a href="/">Terug naar je profiel</a>
</body>
</html>