<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Gelukt!</h1>
	<h2><%= data.title %>, <%= data.genre %>,<%= data.description %></h2>
</body>
</html>