<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head')%>
</head>
<body>
	<header>
		<%- include('partials/navbar')%>
	</header>
	<h1>Gelukt!</h1>
	<p>Titel film: <%= data.movieTitle %>, Jouw rating: <%= data.stars %></p>

	<a href="/">Terug naar je profiel</a>
</body>
</html>